.animal {
  margin: 0;
  position: relative;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 8px;
  margin: 12px;
  cursor: move;
  font-size: 30px;
  left: 50%;
  transform: translateX(-63%);
  background: #eaeaea4f;
  display: flex;
  justify-content: center;
  align-items: center;
}
